@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: 'Roboto';
}

// COLOURS

// Primary

$Tomato: hsl(4, 100%, 67%);
$Gradient-color: linear-gradient(0deg, #FF6A3A, #FF527B);

// Neutral

$Dark-navy: hsl(234, 29%, 20%);
$Pale-navy: hsl(235, 18%, 26%);
$Grey: hsl(231, 7%, 60%);
$White: hsl(0, 0%, 100%);