@import '../../styles/variables.scss';

.success-icon {
    max-width: 64px;
    margin-bottom: 20px;
}

body, html, #root, .App, .App-header {
    height: 100%;
}

.App-header {
    display: flex;
    justify-content: center;
}

.thank-you.text-container {
    padding: 0;
}


.thank-you {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px 24px;
    margin-top: 30%;

    h1 {
        line-height: 1;
    }
}

span {
    font-weight: 700;
}


